#bigdoge {
    display: none;
    animation: fadein 0.5s;
    cursor: pointer;
}
.clickremove {
    visibility: hidden;
    width: 160px;
    color: black;
    text-align: center;
    padding-top: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
#bigdoge:hover .clickremove {
    visibility: visible;
}
